PORT=5000
DB_USERNAME="agnihotrisundaram8"
DB_PSWD="Sundaram@123"
JWT_SECRET=s12345
EMAIL="sundarambtech2125@gmail.com"
EMAIL_PSWD="Sundaram@2025"
CLOUD_NAME="dnctvkwuo"
API_KEY="413423532152765"artaarun  run
API_SECRET="Qflnwdrbs3AXzHNQLFjNYcPloiw"